<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" *ngFor="let link of links"
         [routerLink]="link.url"
         (click)="drawer.toggle()">{{link.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="toolbar-logo">
        <app-logo></app-logo>
      </div>
      <div class="toolbar__navigation-area">
        <a href="#" *ngFor="let link of links" [routerLink]="link.url"
           [routerLinkActive]="'isActive'">{{link.title}}</a>
      </div>
      <span class="spacer"></span>
      <div class="toolbar__search-area">
        <app-search-input [ngClass]="{'hide' : searchForm}"></app-search-input>
        <button class="toolbar__search-button" mat-icon-button aria-label="Toggle search icon" (click)="searchForm = !searchForm">
          <mat-icon *ngIf="searchForm">search</mat-icon>
          <mat-icon *ngIf="!searchForm">youtube_searched_for</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <section class="main-content">
      <ng-content></ng-content>
    </section>
    <!-- Add Content Here -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
