@import './src/assets/styles/mixins';

.footer{
  background: #F4F7FC;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  @include res(phone) {
    padding: 1rem;
  }

  @include res(phone) {
    flex-direction: row;
  }

  @include res(desktop) {
    justify-content: space-between;
  }
}
