.footer__wrapper {
  background: #F4F7FC;
  max-height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  position: fixed;
  @media screen and (min-width: 960px) {
  position: absolute;

  }
}
