.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //overflow: hidden;
  //background: #DEE1E6;
  padding: 24px;
}

.sidenav {
  flex: 1;
}

.main-column {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;

/*  flex-wrap: wrap;
  @media (min-width: 1900px) {
    justify-content: flex-start;
    flex: 4;
  }*/
}

@media (max-width: 620px) {
/*  .wrapper {
    flex-direction: column;
    align-items: center;
  }*/
}


