//move it to vars scss
$small: 567px;
$medium: 768px;
$desktop: 1024px;
$wide: 1680px;

@mixin res($breakpoint) {
  @if $breakpoint == wide {
    @media only screen and (min-width: $wide) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: $medium) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (min-width: $small) {
      @content;
    }
  }
}
